.scroll-bounds { overflow: hidden; }

.answer { background: #ccc; }
.prompt { color: #666; }

.correct { background: #cfc; }
.incorrect { background: #fcc; }

body { font-size: 1.5em; }

div { margin-top: 0.3em; margin-bottom: 0.3em; }

.clock { font-size: 300%; text-align: center; }

.center { text-align: center; }


/* Configure these to tune the stroke display to your liking. */

/* Setting it to `smaller` usually means about 83% (1 / 1.2),
 * but there's no standard. */
#strokes { font-size: 50%; opacity: 1; }

#strokes td {
	background: #666;
	border: thin solid black;
	border-radius: 0.5ex;
	padding: 0.25ex;
	text-align: center;
}

#strokes .numberBar { height: 0.5em; margin: 0; padding: 0; }
#strokes td.wide { width: 2em; }
#strokes .leftVowel { transform: translate(+0.8em, 10%); }
#strokes .rightVowel { transform: translate(-0.8em, 10%); }

#strokes table tr td.pressed {
	color: #400;
	background: #dd4;
}

#strokes td.alt {
	color: #444;
	background: #999;
}

#strokes > * { vertical-align: top; }

#strokes span.big-slash { font-size: 300%; }

/* But don't change these ones */

#strokes .hide { display: none; }

#strokes table { display: inline-block; empty-cells: hide; }
